/* Default */

html, body, div, span, h3, p, em, img, b, u, i, ol, ul, li, footer, header, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Header */

#header {
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	background: #fff;
	cursor: default;
	height: 4em;
	left: 0;
	line-height: 4em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10001;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
	text-align: center;
}

@media screen and (max-width: 980px) {

	body {
		padding-top: 44px;
	}

	#header {
		height: 4em;
		line-height: 4em;
	}
}

@media screen and (max-width: 480px) {

	#header {
		min-width: 320px;
		padding-top: 0px;
		height: 3em;
	}

	img{
		width: 400px;
	}

}

@media screen and (max-width: 400px) {

	#header {
		min-width: 300px;
		padding-top: 0px;
		height: 3em;
		text-align: center;
	}

	img{
		width: 300px;
	}

}

/* ------------------------------------------------------------- */

/* Banner Football */

#banner {
	padding: 30em 0 12em 0;
	background-image: url(../../images/football.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
}

	#banner .content {
		-moz-transition: opacity 1s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 1s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 1s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 1s ease-in-out, transform 0.75s ease-in-out;
		opacity: 1;
	}

	@media screen and (max-width: 980px) {

		#banner {
			padding: 20em 0em 10em 0em;
		}

	}

	@media screen and (max-width: 736px) {

		#banner {
			padding: 20em 4em 4em 4em;
		}

	}

	@media screen and (max-width: 650px) {

		#banner {
			padding: 10em 6em 6em 6em;
		}

	}

	@media screen and (max-width: 480px) {

		#banner {
			padding: 8em 3em 6em 3em;
		}

	}

	@media screen and (max-width: 400px) {

		#banner {
			padding: 6em 3em 6em 3em;
		}

	}

	body.is-loading #banner .content {
		opacity: 0;
		-moz-transform: translateY(1em);
		-webkit-transform: translateY(1em);
		-ms-transform: translateY(1em);
		transform: translateY(1em);
	}

/* -------------------------------------------------------------- */
